html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
  /* overflow: hidden; */
}

.app_videos {
  position: relative;
  height: 600px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}

/* Hide Scrollbar for chrome, safari and opera */
.app_videos::-webkit-scrollbar {
  display: none;
}

/* Hide scroll bar for IE, edge and firefox */
.app_videos {
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none; /* Firefox*/
}